<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page - Cine</title>
    <style>
        body {
            background-color: #321E1E;
            color: #EEE2DE;
            font-family: Broadway, Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        .container {
            padding: 10px;
        }
        h1 {
            font-size: 3rem;
            color: #88304E;
            text-transform: uppercase;
        }
        p {
            font-size: 1.2rem;
        }
        a {
            color: #116D6E;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }

    </style>
</head>
<body>
    <div class="movie-banner"></div>
    <div class="container">
        <h1>Bienvenido CineWorld</h1>
        <p>Descubrí las mejores películas en alta calidad</p>
        <img img src="/images//ung.jpg" alt="Pelis" title="Cinta" />
    </div>
</body>
